body {
  background-color: grey;
  margin: 3px;
  padding: 3px;
}

header {
  background-color: grey;
  margin: 3px;
  padding: 3px;
}

h1 {
  text-align: center;
}

.picture-one .pic1 img {
  height: 300px;
  max-width: 300px;
}

.picture-two .pic2 img {
  height: 300px;
  max-width: 10000px;
}

.topnav {
  margin: 5px;
  padding: 30px;
  background: black;
  font-size: larger;
  font-family: sans-serif;
}

a {
  color: white;
}
